
<%= form_for @comment do |form|  %>

 <div class="actions">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <%if @report%>
    <%= form.hidden_field :report_id, :value => @report.id %>
<%end%>
  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
