 <h1>User Name</h1>
<br>

<div>
comment:<%=@comment.content%>
</div>



 <%= link_to 'Back', comments_path %>
<%= link_to 'Edit', edit_comment_path(@comment) %>
<a data-confirm="Are you sure you want to delete <%= @comment.id %>?"
     data-method="delete" href="/comments/<%= @comment.id %>" rel="nofollow"><i class="large material-icons">Delete comment</i>
</a>
   