
<body> 
    <div class="container">  
        <header class="jumbotron bg my-5">
            <h1 class="display-4 text-white">Pet Rescue!</h1>
            <p class="lead text-white"> Losing Your Baby can be scary and painful experience,<br> 
            This is why we are here to reunite owners with their pets.</p>
            <br class="my-5">
            <p class="lead ">
                <%=link_to "Report A Lost or Found Pet!", new_report_path, class:"btn btn-light"%> 
            </p>
        </header> 
        <div class= "cardBody mt-3 mb-3">
        <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
            <div class="row text-center mt-3">
                <% @reports.each do |report| %>
                    <div class="col-lg-3 col-md-6 mb-4 ">
                        <div class="card h-100">
                            <div class=reportimg>
                                <%= image_tag(report.img, alt: "Pet Image", class:"card-img-top", height:"200") %>
                                <div class="top-left"> 
                                    <% if report.reporttype == "Lost"%> 
                                            <h5 class= "none btn btn-danger btn-sm disabled " > 
                                                <%=report.reporttype%>
                                            </h5> 
                                    <%else%>
                                            <h5 class= "none btn btn-success btn-sm disabled" > 
                                                <%=report.reporttype%>
                                            </h5>
                                    <%end%>     
                                </div>
                                <small>Created by <%=report.user.name%> On <%=report.created_at.strftime("%d/%m/%y")%></small> 
                            </div>
                            <div class= "text-left ml-2 homecardtext" > 
                                <strong> Pet name: </strong><%= report.petname %><br>
                                 <strong>Pet <%=report.reporttype%> Location: </strong>
                                <%= report.address %>, <%= report.city %><br>
                                 <strong>Pet <%=report.reporttype %> Date:</strong> <%= report.date.strftime("%d/%m/%Y") %>
                            </div>
                                <%= link_to "Find Out More!", report_path(report), class:"btn btn-light mt-2" %>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div> 
</body>
 
                
                 