<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h2>posts</h2>

<%# <% @reports.each do |report| %> 
<div class="row">
<% @reports.each do |report| %>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%=report.reporttype%></h5>
         <%= image_tag(report.img, size: "100x100", alt: "Pet Image")%>
        <p class="card-text"><%=report.petname%></p>
        <p class="card-text"><%=report.address%></p>
        <p class="card-text"><%=report.date%></p>
       <a class="btn btn-primary"> <%=link_to report_path(report) %></a>
      </div>
    </div>
  </div>
    <div class="col-sm-4">
    <div class="card2">
      <div class="card2-body">
        <h5 class="card2-title"><%=report.reporttype%></h5>
         <%= image_tag(report.img, size: "100x100", alt: "Pet Image")%>
        <p class="card2-text"><%=report.petname%></p>
        <p class="card2-text"><%=report.address%></p>
        <p class="card2-text"><%=report.date%></p>
       <a class="btn btn-primary"> <%=link_to report_path(report) %></a>
      </div>
    </div>
  </div>
    <div class="col-sm-4">
    <div class="card3">
      <div class="card3-body">
        <h5 class="card3-title"><%=report.reporttype%></h5>
         <%= image_tag(report.img, size: "100x100", alt: "Pet Image")%>
        <p class="card3-text"><%=report.petname%></p>
        <p class="card3-text"><%=report.address%></p>
        <p class="card3-text"><%=report.date%></p>
       <a class="btn btn-primary"> <%=link_to report_path(report) %></a>
      </div>
    </div>
  </div>
</div>
<% end %>