
<body> 
    <div class="container">   
     
        <header class="jumbotron bg my-4 mt-5">
            <h1 class="display-4 text-white">Pet Rescue!</h1>
            <p class="lead text-white"> Losing Your Baby can be scary and painful experience,<br> 
            This is why we are here to reunite owners with their pets.</p>
            <br class="my-5">
            <p class="lead">
                <%=link_to "Report a Lost / Found / Adoption Pet!", new_report_path, class:"btn btn-light"%> 
            </p>
        </header> 

         <form class="form-inline">
            <%= form_tag home_path, :method =>'get' do%>
                <%= text_field_tag :city, params[:city],  class:"mr-sm-2", placeholder:"City", id:"search" %>
                <%= text_field_tag :species, params[:species],  class:" mr-sm-2", placeholder:"Species", id:"search" %>
                <%= text_field_tag :reporttype, params[:reporttype],  class:" mr-sm-2", placeholder:"Lost/found/adoption", id:"search" %>
                <%= submit_tag 'Search', class:"btn btn-outline-dark my-2 my-sm-0" %>
            <% end%>
            </form>
            <br>
<div class="row cardBody py-5">
        <% @reports.each do |report| %>
        <%# ######################## Lost ################### %>
            <% if report.reporttype == "Lost"%> 
                <div class="col-lg-3 col-md-6 py-2">
                    <div class="card h-100 text-black border-danger">
                                <%= image_tag(report.img.variant(auto_orient: true, gravity: "center"), alt: "Pet Image", class:"card-img-top", height:"255") %>
                                <div class="top-left"> 
                                            <h5 class= "none btn btn-danger btn-sm disabled " > 
                                                <%=report.reporttype%>
                                            </h5> 
                                </div>
                             <div class="card-body bg-light">
                            <h3 class="card-title mb-1"> <%= report.petname %></h3>
                            <p class="card-text mb-1"><strong>Pet <%=report.reporttype%> Gender</strong><br>  
                            <%=report.gender%> 
                            </p>
                            <p class="card-text mb-1"><strong>Pet <%=report.reporttype%> Date</strong><br>  
                            <%= report.date.strftime("%d/%m/%Y") %>
                            </p>
                            <p class="card-text mb-1"><strong>Pet <%=report.reporttype%> Address</strong><br>  
                            <%= report.address %>, <%= report.city %></p>
                        </div>
                           <%= link_to "Find Out More!", report_path(report), class:"btn btn-danger" %>
                    </div>
                </div>    
                <%# ######################## Found ################### %> 
            <%elsif report.reporttype == "Found"%>
                <div class="col-lg-3 col-md-6 py-2">
                    <div class="card h-100 text-black border-success">
                            <%= image_tag(report.img.variant(auto_orient: true, gravity: "center"), alt: "Pet Image", class:"card-img-top", height:"255") %>
                            <div class="top-left">
                                        <h5 class= "none btn btn-success btn-sm disabled" > 
                                            <%=report.reporttype%>
                                        </h5>   
                            </div>
                        <div class="card-body bg-light ">
                            <h3 class="card-title mb-1"> <%= report.petname %></h3>
                            <p class="card-text mb-1"><strong>Pet <%=report.reporttype%> Gender</strong><br>  
                            <%=report.gender%> 
                            </p>
                            <p class="card-text mb-1"><strong>Pet <%=report.reporttype%> Date</strong><br>  
                            <%= report.date.strftime("%d/%m/%Y") %>
                            </p>
                            <p class="card-text mb-1"><strong>Pet <%=report.reporttype%> Address</strong><br>  
                            <%= report.address %>, <%= report.city %></p>
                        </div>

                          <%= link_to "Find Out More!", report_path(report), class:"btn btn-success" %>
                    </div>
                </div> 
                <%else%> 
                <%# ######################## Adoption ################### %>
                <div class="col-lg-3 col-md-6 py-2 ">
                    <div class="card text-black border-info">
                            <%= image_tag(report.img.variant(auto_orient: true, gravity: "center"), alt: "Pet Image", class:"card-img-top", height:"255") %>
                            <div class="top-left">
                                        <h5 class= "none btn btn-info btn-sm disabled" > 
                                            <%=report.reporttype%>
                                        </h5>   
                            </div>
                        <div class="card-body bg-light">
                            <h3 class="card-title mb-1"> <%= report.petname %></h3>
                            <p class="card-text mb-1"><strong>Pet <%=report.reporttype%> Gender</strong><br>  
                            <%=report.gender%> 
                            </p>
                            <p class="card-text mb-1"><strong>Pet <%=report.reporttype%> Age </strong><br>  
                            Around <%=report.age%> 
                            </p>
                            <p class="card-text mb-1"><strong>Pet <%=report.reporttype%> Address</strong><br>  
                            <%= report.address %>, <%= report.city %></p>
                        </div>

                          <%= link_to "Find Out More!", report_path(report), class:"btn btn-info" %>
                    </div>
                </div> 
            <%end%>  
        <%end%>  
    </div>
</div>
</body>
 
                
                 