<h1>Pet Reports</h1>
<%= link_to "Report A Pet", new_report_path, { :class => "button waves-effect waves-light btn" } %>

<table>
  <tr>
    <th> Report Type </th>
    <th> Image </th>
    <th> Pet Name </th>
    <th> Species </th>
     <th> Primary Color </th>
    <th> Address </th>
     <th> Date </th>
     <th> More Details </th>
     <th>Edit</th>
     <th>Delete</th>
  </tr>

  <% @reports.each do |report| %>
      <tr>
      <td><%=report.reporttype%></td>
     <td><%= image_tag(report.img, size: "100x100", alt: "Pet Image") %></td>
      <td><%=report.petname%></td>
    <td><%=report.species%></td>
    <td><%=report.color%></td>
    <td><%=report.address%></td>
    <td><%=report.date%></td>
    <td><%= link_to "More Details", report_path(report) %></td>
    <td><a class="btn-floating btn-large red" href="<%= edit_report_path(report) %>" >
           <em class="large material-icons">Edit report</em>
          </a>
    </td>
    <td><a class="btn-floating btn-large red" data-confirm="Are you sure you want to delete <%= report.petname %>?"
     data-method="delete" href="/reports/<%= report.id %>" rel="nofollow"><i class="large material-icons">Delete Report</i>
    </a>
    </td>

      
    </tr>
  <% end %>
</table>
