<p id="notice"><%= notice %></p>

<div class="container">  
    
   <div class="text-black jumbotron my-4 text-white">
     <p class="d-flex justify-content-end">
             <%=image_tag("we.png", size:"20x20")%> &nbsp
            <%if user_signed_in?%>
             Welcome <%= current_user.name %>
            <%end%>
      </p>
      
      <div class="row align-items-center">
         <div class="col-lg-5">
            <h1 class="display-5">Add A Report</h1>
            <p><%= render 'reports/form' %></p>
         </div>
         <div class="col-lg-7">
            <h1 class=" display-4"> Report A Lost or Found or Addoption Pet</h1>
            <%=image_tag("pets4.jpg",class:"img-fluid rounded" )%>
         </div>
      </div>
   </div>
</div>

