
<div class="container my-5">
    <div class=" jumbotron row align-items-center">
        <div class="col-lg-6">
            <%= image_tag(@report.img, alt: "Pet Image", class:"img-fluid rounded showimg")%> 
        </div>
    
        <div class="col-lg-6">
            <div class="row-lg-7 d-flex justify-content-between">
            <%# <%= link_to "PDF File", report_path(format: 'pdf')%>
            
                <% if @report.reporttype == "Lost"%> 
                    <h4 style = "color:red"> 
                        <%=@report.reporttype%>
                    </h4> 
                <%else%>
                    <h4 style = "color:green;" > 
                        <%=@report.reporttype%>
                    </h4>
                <%end%>
                <div>
                    <%if user_signed_in?%>
                        <%if current_user.id == @report.user_id%>
                            <%= link_to "Edit", edit_report_path(@report),  class:"link-btn"%> |
                            <%= link_to "Delete", report_path(@report), class:"link-btn" , method: :delete, data: {confirm:"Are you sure you want to delete"}%>
                        <%end%>
                    <%end%>
                </div>
                
            </div>
            <h1 class="font-weight-light"> <%= @report.petname %></h1> 
            <p class="font-weight-bold"> 
            <strong> Pet Species: </strong> <%=@report.species%> <br> 
            <strong> Pet Gender:</strong> <%=@report.gender%> <br>
                <% if @report.reporttype == "Lost"%> 
                   <strong> Pet Last Seen Address:</strong> 
                    <%= @report.address %>,  <%= @report.city %>
                <%else%>
                   <strong> Pet Found Address: </strong> 
                    <%= @report.address %> <%= @report.city %>
                <%end%> <br>
            <strong> Pet <%=@report.reporttype%> Date:</strong> <%= @report.date.strftime("%B %e, %Y ") %> <br>
            <strong>Pet Descriptions:</strong> <%=@report.descriptions%><br>
           <strong> Please Contact Me By</strong> <br>
            <strong>Phone number:</strong> <%=@report.phone%> <br>
            <strong>Email Address:</strong> <%=@report.email%> 
            </p>
    
            <%# if the user click here it will send an notification to 
            who post the email with the who is loged on information  %>
            <% if @report.reporttype == "Lost"%> 
                  <a class="btn btn-primary" href="#">I Found Your Baby!</a> 
            <%else%>
               <a class="btn btn-primary" href="#"> You Found My Baby!</a> 
            <%end%>
        </div> 
    </div>
</div>

 <div class="col-lg-5 mt-4 ml-4">
            <%= render 'comments/form'%> 
    </div>
 <div class="col-lg-5">
            <div class="row-lg-9 d-flex justify-content-between">
                <h4> <%= @report.comments.count%>  Comments</h4> 
                <h4> Comments </h4>
            </div>
            <hr>
            <%@report.comments.each do |r| %> 
            <div class="row-lg-9 d-flex justify-content-between">
                <h6 ><%= r.user.name%></h6>
                <div>
                    <%if user_signed_in? %>
                        <%if current_user.id == r.user_id%>
                            <%= link_to "Edit", edit_comment_path(r), class:"link-btn" %> |
                            <%= link_to "Delete", comment_path(r), class:"link-btn" , method: :delete, data: {confirm:"Are you sure you want to delete"}%>
                        <%end%>
                    <%end%>
                </div>
             </div> 
            <h6> <%= r.content%> </h6>
             <%end%>
        </div>