
<div class="container ShowcardBody my-4">
<%# ########################## Lost ############################ %>
    <% if @report.reporttype == "Lost"%> 
        <div class="row bg-light w-100 h-100 m-0 card-body" style="border:1px solid red;">
            <div class="col-lg-6">
                <%= image_tag(@report.img, alt: "Pet Image", class:"img-fluid rounded showimg", :style => "border: 1px solid red" )%> 
               
                    <div class="top-left ml-1"> 
                            <h5 class= "none btn btn-danger btn-sm disabled " > 
                                <%=@report.reporttype%>
                            </h5> 
                    </div>
             
                <hr>
                <address>
                    <strong>Contact me</strong>
                    <br>
                    <abbr title="Phone">Phone:</abbr>
                    <%= link_to @report.phone, "tel:#{@report.phone}" %> <br>
                    <abbr title="Email">Email:</abbr>
                    <%= mail_to @report.email%>
                </address>
                
            </div> 
            <div class="col-lg-6 ">
            <div class=" text-right">   
                <%if user_signed_in?%>
                        <%if current_user.id == @report.user_id%>
                            <%= link_to "Edit", edit_report_path(@report),  class:"link-btn"%> |
                            <%= link_to "Delete", report_path(@report), class:"link-btn" , method: :delete, data: {confirm:"Are you sure you want to delete"}%>
                        <%end%>
                    <%end%> 
                </div>  
                 <p class="card-text text-danger">
                    <strong> Pet Name </strong>  
                    <br> 
                    <%=@report.petname%> is Lost
                </p>
                <p class="card-text text-danger">
                    <strong> Pet Species </strong> <br> 
                    <%=@report.species%> 
                </p>
                <p class="card-text text-danger">
                        <strong> Pet Gender</strong> <br>
                    <%=@report.gender%> 
                </p>
                <p class="card-text text-danger">
                    <strong>Pet Lost Address</strong><br>  
                    <%= @report.address %>, <%= @report.city %>
                </p>
                <p class="card-text text-danger">
                    <strong>Pet Lost Date</strong><br>  
                    <%= @report.date.strftime("%d/%m/%Y") %>
                </p>
                <p class="card-text text-danger">
                    <strong>Pet Descriptions:</strong> <br>
                    <%=@report.descriptions%>
                </p>
            </div>  
        </div>
        <%# ########################## Found ############################ %>
    <%elsif @report.reporttype == "Found"%>
       <div class="row bg-light w-100 h-100 m-0 card-body" style="border:1px solid green;">
            <div class="col-lg-6">
                <%= image_tag(@report.img, alt: "Pet Image", class:"img-fluid rounded showimg", :style => "border: 1px solid green")%> 
               
                    <div class="top-left ml-1"> 
                            <h5 class= "none btn btn-success btn-sm disabled " > 
                                <%=@report.reporttype%>
                            </h5> 
                    </div>
             
                <hr>
                <address>
                    <strong>Contact me</strong>
                    <br>
                    <abbr title="Phone">Phone:</abbr>
                    <%= link_to @report.phone, "tel:#{@report.phone}" %> <br>
                    <abbr title="Email">Email:</abbr>
                    <%= mail_to @report.email%>
                </address>
            </div> 
            <div class="col-lg-6 ">
            <div class=" text-right">   
                <%if user_signed_in?%>
                        <%if current_user.id == @report.user_id%>
                            <%= link_to "Edit", edit_report_path(@report),  class:"link-btn"%> |
                            <%= link_to "Delete", report_path(@report), class:"link-btn" , method: :delete, data: {confirm:"Are you sure you want to delete"}%>
                        <%end%>
                    <%end%> 
                </div>  
                 <p class="card-text text-success">
                    <strong> Pet Name </strong>  
                    <br> 
                    I have found <%=@report.petname%> 
                </p>
                <p class="card-text text-success">
                    <strong> Pet Species </strong> <br> 
                    <%=@report.species%> 
                </p>
                <p class="card-text text-success">
                    <strong> Pet Gender</strong> <br>
                    <%=@report.gender%> 
                </p>
                <p class="card-text text-success">
                    <strong>Pet Found Address</strong><br>  
                    <%= @report.address %>, <%= @report.city %>
                </p>
                <p class="card-text text-success">
                    <strong>Pet Found Date</strong><br>  
                    <%= @report.date.strftime("%d/%m/%Y") %>
                </p>
                <p class="card-text text-success">
                    <strong>Pet Descriptions:</strong> <br>
                    <%=@report.descriptions%>
                </p>
            </div>  
        </div>
        <%# ########################## Adoption ############################ %>
        <%else%>
        <div class="row bg-light w-100 h-100 m-0 card-body" style="border:1px solid #5bc0de;">
            <div class="col-lg-6">
                <%= image_tag(@report.img, alt: "Pet Image", class:"img-fluid rounded showimg mt-5", :style => "border: 1px solid #5bc0de")%> 
               
                    <div class="top-left ml-1"> 
                            <h5 class= "none btn btn-info btn-sm disabled " > 
                                <%=@report.reporttype%>
                            </h5> 
                    </div>
                <hr>
                <address>
                    <strong>Contact me</strong>
                    <br>
                    <abbr title="Phone">Phone:</abbr>
                    <%= link_to @report.phone, "tel:#{@report.phone}" %> <br>
                    <abbr title="Email">Email:</abbr>
                    <%= mail_to @report.email%>
                </address>
            </div> 
            <div class="col-lg-6 ">
            <div class=" text-right">   
                <%if user_signed_in?%>
                        <%if current_user.id == @report.user_id%>
                            <%= link_to "Edit", edit_report_path(@report),  class:"link-btn"%> |
                            <%= link_to "Delete", report_path(@report), class:"link-btn" , method: :delete, data: {confirm:"Are you sure you want to delete"}%>
                        <%end%>
                    <%end%> 
                </div>  
                 <p class="card-text text-info ">
                    <strong> Pet Name </strong>  
                    <br> 
                    <%=@report.petname%> is for Adoption
                </p>
                <p class="card-text text-info">
                    <strong> Pet Species </strong> <br> 
                    <%=@report.species%> 
                </p>
                <p class="card-text text-info">
                    <strong> Pet Gender</strong> <br>
                    <%=@report.gender%> 
                </p>
                <p class="card-text text-info">
                    <strong>Pet Adoption Address</strong><br>  
                    <%= @report.address %>, <%= @report.city %>
                </p>
                <p class="card-text text-info">
                    <strong>Pet Adoption Birthday</strong><br>  
                    <%= @report.date.strftime("%d/%m/%Y") %>
                </p>
                 <p class="card-text text-info">
                    <strong>Pet Adoption Age</strong><br>  
                    <%= @report.address %>, <%= @report.city %>
                </p>
                <p class="card-text text-info">
                    <strong>Pet Descriptions:</strong> <br>
                    <%=@report.descriptions%>
                </p>
            </div>  
        </div>
    <%end%>
</div>





 <div class="col-lg-5 mt-4 ml-4">
            <%= render 'comments/form'%> 
    </div>
 <div class="col-lg-5">
            <div class="row-lg-9 d-flex justify-content-between">
                <h4> <%= @report.comments.count%>  Comments</h4> 
                <h4> Comments </h4>
            </div>
            <hr>
            <%@report.comments.each do |r| %> 
            <div class="row-lg-9 d-flex justify-content-between">
                <h6 ><%= r.user.name%></h6>
                <div>
                    <%if user_signed_in? %>
                        <%if current_user.id == r.user_id%>
                            <%= link_to "Edit", edit_comment_path(r), class:"link-btn" %> |
                            <%= link_to "Delete", comment_path(r), class:"link-btn" , method: :delete, data: {confirm:"Are you sure you want to delete"}%>
                        <%end%>
                    <%end%>
                </div>
             </div> 
            <h6> <%= r.content%> </h6>
             <%end%>
        </div>