<h6 class="card-title" style="text-align:left; font-weight:bold;"> Reported by: <%= @report.user.email%>
    <%if user_signed_in? %>
    <%if current_user.id == @report.user_id%>
        <%= link_to "Edit", edit_report_path(@report) %>
        <%= link_to "Delete", report_path(@report) , method: :delete, data: {confirm:"Are you sure you want to delete"}%>
    <%end%>
    <%end%>
</h6>

<div class="card-deck">
    <div class="col-6" style="margin: auto">
        <div class="card border-primary">
            <div class="card-body" style="text-align:center;">
                <div style="text-align:right;">  
                 <% if @report.reporttype == "Lost" %> 
                    <button class="btn btn-danger" style ="cursor: default;" > 
                        <%=@report.reporttype%> 
                    </button>
                 <%else%> 
                    <button class="btn btn-success" style ="cursor: default;" >
                        <%=@report.reporttype%> 
                    </button>
                 <%end%>
          <h5 class="card-text" style="text-align:center; font-weight:bold; "> <br>
                    <%= @report.petname %>
                </h5>
                </div> <br>
                  <%= image_tag(@report.img, alt: "Pet Image", class:"img_ma")%> 
                <h5 class="card-text" style="text-decoration: underline; color: rgba(77, 77, 77, 0.829)"> Pet Species: 
                </h5> <%=@report.species%> 
                <h5 class="card-text" style="text-decoration: underline; color: rgba(77, 77, 77, 0.829)"> Pet Gender:
                </h5> <%=@report.gender%>
                <h5 class="card-text" style="text-decoration: underline; color: rgba(77, 77, 77, 0.829)"> Pet Descriptions:
                </h5> <%=@report.descriptions%>
                <h5 class="card-text" style="text-decoration: underline; color: rgba(77, 77, 77, 0.829)"> Pet
                 <%=@report.reporttype%> Adress:
                </h5> <%= @report.address %>
                <h5 class="card-text" style="text-decoration: underline; color: rgba(77, 77, 77, 0.829)"> Pet 
                <%=@report.reporttype%> Date:
                </h5> <%= @report.date %>
                <h5 class="card-text" style="text-decoration: underline; color: rgba(77, 77, 77, 0.829)"> Contact Us:
                </h5> <%=@report.email%>
             <%=@report.phone%>
            </div>
        </div>
    </div>
</div>

<div class="input-field col s6" style="margin:auto" >
<h3 style="margin: 15px; color: rgba(77, 77, 77, 0.829)">Write a comment</h3>
<%= render 'comments/form'%> 
<h4 style= "margin: 15px; color: rgba(77, 77, 77, 0.829)"> <%= @report.comments.count%> comments</h4>
<%@report.comments.each do |r| %> 
<h6 style="margin: 15px; color: rgba(77, 77, 77, 0.829)"> comment created by: <%= r.user.email%></h6>
<h6 style="margin: 15px; font-weight:bold;"> <%= r.content%> </h6>
<%if user_signed_in? %>
<%if current_user.id == r.user_id%>
<%= link_to "Edit", edit_comment_path(r) %>
<%= link_to "Delete", comment_path(r) , method: :delete, data: {confirm:"Are you sure you want to delete"}%>
<%end%>
<br>
<%end%>
<%end%>
</div>

