<!DOCTYPE html>
<html>
  <head>
    <title>Pet Rescue App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

  <%= render 'layouts/nav'%>
    <%= yield %>

  <footer class="footer navbar-fixed-bottom">
      
      <div class="container text-center">
      <%# There are <%= User.all.length %>
       <span class="text-muted ">
       Copyright &copy; Sara 2019. &nbsp Number of Users: &nbsp <%=User.count %> 
        </span>      
     </div>
    </footer>
  </body>
</html>
